<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="resources/bootstrap-5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="resources/jquery/jquery.min.js"></script>
    <script src="resources/bootstrap-5.1.1/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="assets/css/login.css">
</head>

<body>
    <div class="login-form">
        <form action="" method="post">
            <h2 class="text-center">Log in</h2>
            <div class="form-group my-2">
                <input type="text" class="form-control" name="name" placeholder="Username" required>
            </div>
            <div class="form-group my-2">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group my-2">
                <button name="submit" type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <div class="clearfix">
              <div class="form-group">
                <a href="/login">Login</a>
              </div>
                <!-- <label class="float-left form-check-label"><a href="/register">Create an Account</a></label> -->
                <!-- <a href="forgot-password.php" class="float-right">Forgot Password?</a> -->
            </div>
        </form>
        <p class="text-center"></p>
    </div>
</body>

</html>